# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore environment variable files
.env

# Ignore build artifacts
dist

# Ignore logs
logs
*.log

# Ignore local configuration files
config/*.json

# Ignore version control directories
.git
.gitignore

# Ignore IDE files
.vscode
.idea
